/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Figtree&family=Mynerve&family=PT+Serif&family=Ultra&display=swap");

body {
  background-color: #1d1e26;
  color: #f2eadf;
  filter: grayscale(65%);
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

p {
  filter: brightness(200%);
}

a:hover {
  color: #577ef2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bangers", cursive;
  color: #d9b811;
  filter: brightness(200%);
  letter-spacing: 0.3rem;
  line-height: 1.5;
}

.page {
  transition: transfrom 0.3, ease, opacity 0.3s ease;
}

.page:not(.active) {
  opacity: 0;
  transform: translateY(200px);
}
