.profile-dropdown {
  position: absolute;
  list-style: none;
  background-color: hsla(0, 0%, 0%, 1);
  border: 1px solid #d2b811;
  border-radius: 15px;
  padding: 25px;
  right: 40px;
  top: 15px;
}

.profile-dropdown-login {
  position: absolute;
  list-style: none;
  /* background-color: hsla(0, 0%, 0%); */
  border-radius: 15px;
}


.hidden {
  display: none;
}

.nav-bar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav-bar>ul {
  list-style-type: none;
  direction: flex;
}

.nav-item {
  display: inline-block;
  margin-right: 100px;
}

.container {
  pointer-events: auto;
}

.profile-li {
  margin: 5px;
}